<div class="home">
<!-- <section class="section one" id="gallery" ng-include="section.one"></section>
<section class="section two"  ng-include="section.two"></section>
<section class="section three" ng-include="section.three"></section>
<section class="section four"  ng-include="section.four"></section> -->
<div class="container">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet deserunt numquam ipsam, quidem similique harum, inventore explicabo consequuntur laudantium tenetur laborum reiciendis. Illum laudantium, ea porro magni reiciendis, facere sequi.</p>
</div>
</div>
